
.containerDashboard {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  display: grid;
}

.titleDashboard {
  color: black;
  text-align: center;
}

.navDashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 400px;
  margin: auto;
}

.navDashboard button {
  background-color: #B059B1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.navDashboard button:hover {
  background-color: #914a92;
}

.sectionDashboard {
  margin-top: 30px;
}

.h2Dashboard {
  color: black;
  text-align: center;
  font-size: 24px;
}

.openButton{
  position: fixed;
  bottom: 10px;
  right: 50px;
  height: 50px;
  width: 200px;
  background-color: #B059B1;
  font-size: 15px;
  font-weight: 600;
}

.openButton:hover{
  background-color: #914a92;
}

@media (max-width:550px){
  .titleDashboard{
    font-size: 2rem;
  }
}
