  .containerMapFormation {
    display: flex;
    flex-direction: column;
    margin: 0 25px 15px;
  }
  
  .containerListCard {
    display: flex;
    flex-wrap: wrap;
  }

  .backButton {
    border-radius: 50%;
    margin: 0 25px;
    background-color: #B059B1;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    padding: 0;
  }

  .backButton svg {
    margin: 10px 12px;
  }

  .noDataResult {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600
  }