.containerList {
    background-color: #f3f0ff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }
  
  .buttonList {
    background-color: #9b7ce4;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

    .buttonList:hover {
    background-color: #7b5cbb; 
  }

  .buttonListDelete:hover {
    background-color: #b30a0a; 
  }

  .buttonListDelete {
    background-color: #ff3c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButtonList {
    background-color: #4d34b4;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left:0 ;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButtonList:hover {
    background-color: #39269b;
  }

  .titleItemList{
    max-width: 300px;
  }


  @media (max-width:500px){
    .listItem{
      justify-content: center;
    }

    .titleItemList{
      text-align: center;
    }
  }
  