.containerMapFormation {
    display: flex;
    flex-direction: row;
}
  
.containerListCard {
    display: flex;
    flex-wrap: wrap;
}

.containerMap {
    margin: 25px;
}

.backButton {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    padding: 20px;
    background-color: #B059B1;
    cursor: pointer;
}