.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.containerMapFormation {
  display: flex;
  flex-direction: column;
}

.containerListCard {
  display: flex;
  flex-wrap: wrap;
}