.paragraphe {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
  margin: 2rem 4rem;
  padding: 1rem;
  border-radius: 8px;
}

.container {
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}
  
.logoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.logoImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
 
.logoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .paragraphe {
    margin: 1rem 0.5rem;
  }

  .container {
    margin: 0.5rem;
  }

  .logoImage {
    width: 100px;
    height: 100px;
  }
}