.containerPro {
  margin: 0 25px;
}

.containerMapFormation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .containerListCard {
    display: flex;
    flex-wrap: wrap;
  }

  .containerMap {
    margin: 25px;
  }

  .backButton {
    border-radius: 50%;
    background-color: #B059B1;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    padding: 0;
  }

  .backButton svg {
    margin: 10px 12px;
  }