.containerMapFormation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.containerListCard {
  display: flex;
  flex-wrap: wrap;
}

.containerMap {
  margin: 25px;
}

.backButton {
  border-radius: 50%;
  background-color: #B059B1;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton svg {
  margin: 0;
  font-size: 24px;
}

.containerOptions {
  margin: 0 25px;
}