.containerMapFormation {
  display: flex;
  flex-direction: row;
}
  
.containerListCard {
  display: flex;
  flex-wrap: wrap;
  flex: 1.5;
  height: 550px;
  overflow-y: scroll;
}

.containerMap {
  margin: 25px;
  flex: 1;
  width: 100%;
}

.backButton {
  border-radius: 15px;
  background-color: #B059B1;
  padding: 10px 15px;
  cursor: pointer;
}

.backButton {
  border-radius: 50%;
  background-color: #B059B1;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
  padding: 0;
}

.backButton svg {
  margin: 10px 12px;
}

.containerSpe {
  margin: 0 25px;
}

.containerListCard {
  max-height: 450px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .containerMapFormation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .containerListCard {
    width: 100%;
    overflow: visible;
  }

  .containerListCard div {
    width: 100%;
  }

  .containerSpe {
    margin: 0;
  }
}