.backButton {
    border-radius: 50%;
    margin: 0 25px;
    background-color: #B059B1;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    padding: 0;
  }

  .backButton svg {
    margin: 10px 12px;
  }

  .containerMapFormation {
    padding: 20px;
  }