.listCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
  }