.containerMap {
    width: 50%;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .containerMap {
        width: 100%;
        height: 400px;
    }
  .leaflet-label {
      margin-bottom: 10px;
  }
}